@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
	font-family: "Noto Sans KR", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 20px;
	font: 15px;
}

a:link{
  text-decoration: none!important;
  color: green;
}

li {
	list-style-type: none;
	
}


header {
	width: 1110px;
	height: 220px;
	font: 16px;
	font-weight: bold;
	background-color: white;
    margin-bottom: 20px;
    position: relative;
}

#logo{
	width: 100px;
    height: 100px;
	float: left;
	position: absolute;
}

#logo > a >img {
			width: 100px;
    		height: 50px;
            position: absolute;
            right: 5px;
            top: 5px;
}

header > #highmenu{
    bottom: 5px;    
    position: absolute;
    overflow: hidden;
}
#highmenu ul li {
	width: 100px;
	display: inline-block;
	margin: 15px;
	text-align: center;
	
}

#highmenu #textboxli{
	width: 250px;
}

header #topmenu_tnb{
	top: 0;
	right: 0;
    overflow: hidden;
	position: absolute;
}



#topmenu_tnb ul li{
	display: inline-block;
	float: left;
	margin: 15px;
	padding: 10px;
	position: relative;
}

/* section */
.section {
    width: 1110px;
    margin-bottom: 20px;
}

.Asside-left {
	width: 200px;
	font: 16px;
	float: left;
    margin-right: 20px;
	background-color: gainsboro;	 
}
.Article {
    width: 890px;

}
#btnSearchGame{
	border: none;
	margin: 0;
	padding: 0;
	background-image: url("../image/free-icon-magnifier-71403.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    outline: 0;
}

.imgIcon {
	border: none;
	width: 24px;
	height: 24px;
	bottom: 0;
}

#Middle-page{
	
	
	 
}

.accordion{
	background: #eee;
	color: green;
	cursor: pointer;
	border: none;
	text-align: center;
	transition: 0.4s;
}
.ac:active, .accordion:hover {
	background: #ccc;
}
.panel{
	padding: 0 18px;
	background: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.Footer {
    clear: both;
    width: 1110px;
    height: 190px;
    background-color: #eee;
    text-align: center;
    padding: 20px;
}